
<app-navbar><div navbar-content>

<!-- Tabla para mostrar las convocatorias -->
<div class="m-5">
  <!-- Agregamos el botón "Nueva Convocatoria" -->
  <button (click)="abrirModal()" class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Nueva Convocatoria
  </button>
  <app-crearconvocatoriamodal *ngIf="modalState$"></app-crearconvocatoriamodal>

  <!--<div class="overflow-hidden rounded-lg border border-gray-200 shadow-md">
    <table class="w-full border-collapse bg-white text-left text-sm text-gray-500 mt-3">
     ... Resto del código de la tabla ...
    </table>
  </div> -->
</div>


  <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">

    <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
      <thead class="bg-gray-50">
        <tr class="px-8">
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Foto</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Titulo</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Descripción</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Empresa</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Fecha de Inicio</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Fecha de Fin</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Acciones</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100 border-t border-gray-100">
        <tr class="hover:bg-gray-50" *ngFor="let convocatoria of data">
          <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
            <div class="relative h-10 w-10">
              <img
                *ngIf="convocatoria.imagen"
                class="h-full w-full rounded-full object-cover object-center cursor-pointer"
                [src]="apiUrlImagenes + convocatoria.imagen"
                alt=""
              />
              <span *ngIf="!convocatoria.imagen">No hay foto</span> <!-- Mensaje si no hay foto -->
            </div>
          </th>
          <th class="px-6 py-4">{{ convocatoria.titulo }}</th>
          <th class="px-6 py-4">{{ convocatoria.descripcion }}</th>
          <th class="px-6 py-4">{{ obtenerNombreEmpresa(convocatoria.empresaid)  }}</th>
          <th class="px-6 py-4">{{ convocatoria.fechainicio }}</th>
          <th class="px-6 py-4">{{ convocatoria.fechafin }}</th>

          <td class="px-2 py-4">
            <div class="flex justify-center gap-4">
              <a (click)="abrirModalEliminar(convocatoria.id)" class="cursor-pointer bg-red-500 hover:bg-slate-400 hover:text-white text-white font-bold py-2 px-4 rounded">
                Eliminar
              </a>

              <button class="bg-blue-500 hover:bg-white-700 text-white font-bold py-2 px-4 rounded hover:bg-blue-300">
                Editar
              </button>
            </div>
            <app-eliminarconvocatoriamodal *ngIf="eliminarModalState$ | async" [id]="idConvocatoriaSeleccionada"></app-eliminarconvocatoriamodal>
          </td>


        </tr>
      </tbody>
    </table>
  </div>


</div></app-navbar>

