
<app-navbar><div navbar-content>
  <!-- TODO TU CRUD O CONTENIDO AQUI -->


  <div class="flex justify-between mt-3">
    <div>
      <button (click)="mostrarFormularioNuevaEmpresa()" type="button" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">AGREGAR NUEVA EMPRESA</button>
    </div>

    <form>
      <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
      <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
          </div>
          <input type="search" id="default-search" class="block w-full p-4 ps-20 text-sm text-gray-900 border border-blue-500 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar" required>
          <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
      </div>
    </form>

    <button type="button" class="relative inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      <svg class="w-5 h-5 me-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
      <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
      <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
      </svg>
      <span class="sr-only">Notifications</span>
      Messages
        <div class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900">8</div>
      </button>

  </div>


  <div class="relative overflow-x-auto shadow-md sm:rounded-lg py-4">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">

        <tr>
          <th scope="col" class="px-6 py-3 text-blue-50 bg-blue-950">
            ID
          </th>
          <th scope="col" class="px-6 py-3 text-blue-50 bg-blue-950">
            Razon Social
          </th>
          <th scope="col" class="px-6 py-3 text-blue-50 bg-blue-950">
            Direccion
          </th>
          <th scope="col" class="px-6 py-3 text-blue-50 bg-blue-950">
            Email
          </th>
          <th scope="col" class="px-6 py-3 text-blue-50 bg-blue-950">
            Ruc
          </th>
          <th scope="col" class="px-6 py-3 text-blue-50 bg-blue-950">
            Telefono
          </th>
          <th scope="col" class="px-6 py-3 text-blue-50 bg-blue-950">
            Acciones
          </th>

        </tr>
      </thead>
      <tbody>


        <!-- Fila de ejemplo con numeración y checkbox -->
        <tr *ngFor="let empresa of responseData" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
          <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{ empresa.id }} <!-- Número de fila -->
          </td>
          <td class="px-6 py-4">
            <input type="checkbox" class="form-checkbox text-blue-600 dark:text-blue-400" />
            {{ empresa.razonsocial }}
          </td>
          <td class="px-6 py-4">
            {{ empresa.direccion }}
          </td>
          <td class="px-6 py-4">
            {{ empresa.email }}
          </td>
          <td class="px-6 py-4">
            {{ empresa.ruc }}
          </td>
          <td class="px-6 py-4">
            {{ empresa.telefono }}
          </td>
          <td class="px-2 py-4 flex space-x-4">
            <a (click)="mostrarFormularioEdicion(empresa.id)"
              class="font-medium text-white bg-blue-600 dark:text-white dark:bg-blue-500 hover:underline py-2 px-4 rounded">Edit</a>
            <a (click)="confirmarBorradoEmpresa(empresa.id)"
              class="font-medium text-white bg-red-600 dark:text-white dark:bg-red-500 hover:underline py-2 px-4 rounded">Borrar</a>
          </td>
        </tr>
        <!-- ... Otras filas de la tabla ... -->
      </tbody>
    </table>
  </div>

<!-- Pagination-->

<div  class="flex items-center justify-center py-4">

  <nav aria-label="Page navigation example">
    <ul class="inline-flex -space-x-px text-x">
      <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
      </li>
      <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
      </li>
      <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
      </li>
      <li>
        <a href="#" aria-current="page" class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
      </li>
      <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">4</a>
      </li>
      <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">5</a>
      </li>
      <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
      </li>
    </ul>
  </nav>
</div>
<div *ngIf="mostrarFormulario" class="modal-overlay">
  <div class="modal-container bg-white p-8 rounded-lg shadow-md">
    <!-- Agregar formulario aquí -->
    <form (submit)="crearNuevaEmpresa()">
      <!-- Campos del formulario -->
      <div class="mb-4">
        <label for="razonSocial" class="block text-sm font-medium text-gray-700">Razón Social:</label>
        <input type="text" id="razonSocial" name="razonSocial" [(ngModel)]="nuevaEmpresa.razonsocial" required
          class="mt-1 p-2 border border-gray-300 rounded-md w-full">
      </div>

      <!-- Agregar otros campos del formulario -->
      <div class="mb-4">
        <label for="direccion" class="block text-sm font-medium text-gray-700">Dirección:</label>
        <input type="text" id="direccion" name="direccion" [(ngModel)]="nuevaEmpresa.direccion" required
          class="mt-1 p-2 border border-gray-300 rounded-md w-full">
      </div>

      <div class="mb-4">
        <label for="ubicacion" class="block text-sm font-medium text-gray-700">Ubicación:</label>
        <input type="text" id="ubicacion" name="ubicacion" [(ngModel)]="nuevaEmpresa.ubicacion" required
          class="mt-1 p-2 border border-gray-300 rounded-md w-full">
      </div>

      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="nuevaEmpresa.email" required
          class="mt-1 p-2 border border-gray-300 rounded-md w-full">
      </div>

      <div class="mb-4">
        <label for="ruc" class="block text-sm font-medium text-gray-700">RUC:</label>
        <input type="text" id="ruc" name="ruc" [(ngModel)]="nuevaEmpresa.ruc" required
          class="mt-1 p-2 border border-gray-300 rounded-md w-full">
      </div>

      <div class="mb-4">
        <label for="telefono" class="block text-sm font-medium text-gray-700">Teléfono:</label>
        <input type="text" id="telefono" name="telefono" [(ngModel)]="nuevaEmpresa.telefono" required
          class="mt-1 p-2 border border-gray-300 rounded-md w-full">
      </div>

      <!-- Botón para enviar el formulario -->
      <button type="submit"
        class="bg-blue-500 hover:bg-blue-600 text-white font-medium rounded-md px-4 py-2">Crear Nueva Empresa</button>
    </form>
    <button type="button" (click)="cerrarFormulario()"
      class="mt-4 bg-gray-300 hover:bg-gray-400 text-gray-700 font-medium rounded-md px-4 py-2">Cerrar</button>
  </div>
</div>
<div *ngIf="mostrarFormulario2" class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-6 rounded-md shadow-md">
  <!-- Campos del formulario de edición -->
  <div class="mb-4">
    <label for="editRazonSocial" class="block text-sm font-medium text-gray-700">Razón Social:</label>
    <input type="text" id="editRazonSocial" name="editRazonSocial" [(ngModel)]="empresaEnEdicion.razonsocial" required
      class="mt-1 p-2 border border-gray-300 rounded-md w-full">
  </div>
  <div class="mb-4">
    <label for="editDireccion" class="block text-sm font-medium text-gray-700">Dirección:</label>
    <input type="text" id="editRazonSocial" name="editDireccion" [(ngModel)]="empresaEnEdicion.direccion" required
      class="mt-1 p-2 border border-gray-300 rounded-md w-full">
  </div>
  <div class="mb-4">
    <label for="editUbicacion" class="block text-sm font-medium text-gray-700">Ubicación:</label>
    <input type="text" id="editRazonSocial" name="editUbicacion" [(ngModel)]="empresaEnEdicion.ubicacion" required
      class="mt-1 p-2 border border-gray-300 rounded-md w-full">
  </div>
  <div class="mb-4">
    <label for="editEmail" class="block text-sm font-medium text-gray-700">Email:</label>
    <input type="text" id="editRazonSocial" name="editEmail" [(ngModel)]="empresaEnEdicion.email" required
      class="mt-1 p-2 border border-gray-300 rounded-md w-full">
  </div>
  <div class="mb-4">
    <label for="editRuc" class="block text-sm font-medium text-gray-700">Ruc:</label>
    <input type="text" id="editRazonSocial" name="editRuc" [(ngModel)]="empresaEnEdicion.ruc" required
      class="mt-1 p-2 border border-gray-300 rounded-md w-full">
  </div>
  <div class="mb-4">
    <label for="editTelefono" class="block text-sm font-medium text-gray-700">Telefono:</label>
    <input type="text" id="editRazonSocial" name="editTelefono" [(ngModel)]="empresaEnEdicion.telefono" required
      class="mt-1 p-2 border border-gray-300 rounded-md w-full">
  </div>


  <!-- Agregar otros campos del formulario de edición -->
  <!-- ... -->

  <!-- Botón para actualizar la empresa -->
  <button (click)="actualizarEmpresa()"
    class="bg-blue-500 hover:bg-blue-600 text-white font-medium rounded-md px-4 py-2">Actualizar Empresa</button>

  <!-- Botón para cerrar el formulario -->
  <button (click)="cerrarFormulario()"
    class="bg-gray-300 hover:bg-gray-400 text-gray-700 font-medium rounded-md px-4 py-2 ml-2">Cancelar</button>
</div>


</div></app-navbar>

<!--FOOTER-->
