<app-navbar-estudiante><div navbarestudiante-content>
  <!-- TODO TU CRUD O CONTENIDO AQUI -->

  <section class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800 mt-20">
    <h2 class="text-lg font-semibold text-gray-700 capitalize dark:text-white">Solicitud para registrar una empresa</h2>

    <form (submit)="onSubmit()">
      <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
        <div>
          <label class="text-gray-700 dark:text-gray-200" for="razonSocial">Razon social</label>
          <input id="razonSocial" [(ngModel)]="razonSocial" name="razonSocial" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
        </div>

        <div>
          <label class="text-gray-700 dark:text-gray-200" for="direccion">Dirección</label>
          <input id="direccion" [(ngModel)]="direccion" name="direccion" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
        </div>

        <div>
          <label class="text-gray-700 dark:text-gray-200" for="email">Email</label>
          <input id="email" [(ngModel)]="email" name="email" type="email" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
        </div>

        <div>
          <label class="text-gray-700 dark:text-gray-200" for="ruc">Ruc</label>
          <input id="ruc" [(ngModel)]="ruc" name="ruc" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
        </div>

        <div>
          <label class="text-gray-700 dark:text-gray-200" for="ubicacion">Ubicacion</label>
          <input id="ubicacion" [(ngModel)]="ubicacion" name="ubicacion" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
        </div>

        <div>
          <label class="text-gray-700 dark:text-gray-200" for="telefono">Telefono</label>
          <input id="telefono" [(ngModel)]="telefono" name="telefono" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
        </div>
      </div>

      <div class="flex justify-end mt-6">
        <button type="submit" class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600">Save</button>
      </div>
    </form>
  </section>



</div></app-navbar-estudiante>
