<body class="h-screen flex items-center justify-center">
  <div
    class="flex w-screen h-screen bg-cover bg-right"
    style="
      background-image: url('https://pbs.twimg.com/media/Da8TWq8W4AYu_T_.jpg');
    "
  >
    <div class="bg-gray-900 p-8 rounded shadow-md w-96">
      <h1 class="text-2xl font-bold text-white mb-4">Ingresar</h1>

      <!-- Texto debajo del título -->
      <p class="text-sm text-gray-600 mb-6">Bienvenido al sistema UPEU</p>

      <form>
        <div class="mb-4">
          <label
            for="email"
            class="block text-gray-600 text-sm font-semibold mb-2"
            >Email</label
          >
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Ingresa tu email"
            class="w-full border border-gray-300 p-2 rounded focus:outline-none focus:border-blue-500"
          />
        </div>

        <div class="mb-6">
          <label
            for="password"
            class="block text-gray-600 text-sm font-semibold mb-2"
            >Contraseña</label
          >
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Ingresa tu contraseña"
            class="w-full border border-gray-300 p-2 rounded focus:outline-none focus:border-blue-500"
          />
        </div>

        <div class="flex items-center mb-4">
          <input type="checkbox" id="remember" name="remember" class="mr-2" />
          <label for="remember" class="text-sm text-gray-600">Recordarme</label>
        </div>

        <div class="mt-4">
          <p class="text-sm text-gray-600">
            <a href="#" class="text-blue-500 hover:underline"
              >¿Olvidaste tu contraseña?</a
            >
          </p>
          <button
            type="submit"
            class="w-full bg-green-500 text-white p-2 rounded hover:bg-green-600 focus:outline-none focus:shadow-outline-green"
          >
            Iniciar Sesión
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
